@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


/* <== Victor  */

.nav-middle {
    padding-left: 120px;
    font-family: 'Barlow', sans-serif;
    font-weight: 250;
    font-size: 20px;
}

.nav2 {
    height: 100px;
}

.button-shop {
    background-color: #ff6348;
    color: #f6f3ea;
    font-weight: 300;
    font-size: 20px;
}

.button-shop:hover {
    background-color: #f6f3ea;
    color: #ff6348;
    border: 1px solid #ff6348;
}

.phone {
    font-size: 18px;
}

.phone::after {
    content: " Call Us: +98 54321 67890";
    font-family: 'Josefin Sans', sans-serif;
    color: #0c2461;
    font-weight: 200;
}

.envelope {
    font-size: 18px;
}

.envelope::after {
    content: " Email Us: support@example.com";
    font-family: 'Josefin Sans', sans-serif;
    color: #0c2461;
    font-weight: 200;
}

.fontawe {
    display: flex;
    align-items: center;
}

.socials-over {
    display: flex;
    /* align-items: center; */
    margin-bottom: 5px;
}

.socials {
    font-size: 18px;
    border: 1px solid #ff6348;
    border-radius: 5px;
    padding: 10px;
    margin: 6px;
}

.socials:hover {
    background-color: #ff6348;
    color: #f6f3ea;
}

hr {
    width: 80%;
}


/* <== Eno  */

p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #3c6382;
}

.header {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #0c2461;
}

.sub {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 600;
    color: #0c2461;
}

i {
    font-size: 58px;
    color: #ff6348;
}

h6 {
    color: #ff6348;
    font-weight: 900;
}


/* <== Precious */

main {
    background-color: #f6f3ea;
}

.main1 {
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    margin: 0 20px;
    margin-top: 3rem;
}

#div1 {
    padding-right: 30px;
}

.image {
    margin-top: 8rem;
    width: 250px;
    height: 250px;
}

.notif2 {
    margin-left: 10px;
    display: flex;
    place-items: top;
}

.icons {
    margin-top: 10px;
    margin-right: 10px;
}

#notif3 {
    margin-left: 10px;
    display: flex;
    place-items: top;
}

.notif3 {
    padding-top: 10px;
    padding-left: 20px;
}

.not {
    margin: 10px;
}

#icon {
    color: #ff6348;
}

.img {
    width: 70px;
}

.sec1 {
    text-align: center;
    margin-top: 6rem;
}

.h1c {
    color: #0c2461;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    color: #ff6348;
}

.h31 {
    color: #ff6348;
}

.h6c {
    color: #3C6382;
    margin-top: 10px;
}

.h14 {
    color: #0c2461;
}

p {
    color: #0c2461;
}

@media (max-width:1440px) {
    main {
        flex-direction: row;
    }
}


/* <== Udauk  */

.king {
    font-weight: 700;
    font-size: 4rem;
    color: rgb(33, 33, 83);
}

.bg-color1 {
    background-color: #7dcaba;
}

.bucks {
    background-color: orangered;
    font-weight: 600;
    padding: 10px 30px 15px;
    border-radius: 4px;
}

.img-fluid {
    width: 500px;
    height: 750px;
}

.eazy {
    font-size: 1.5rem;
    color: #338f7c;
}

.zone {
    font-size: 1.5rem;
    color: white;
    vertical-align: middle;
}