
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif; 
}
/* <== Eno  */
 p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #3c6382;
}
.header{
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #0c2461;
}
.sub{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 600;
    color: #0c2461;
}
i{
   font-size: 58px; 
  color: #ff6348;
}
h6{
    color: #ff6348;
    font-weight: 900; 
}



/* <== Precious */





/* <== Udauk  */
