@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


/* <== Victor  */


.navbar{
    box-sizing: border-box;
}
.nav-middle {
    padding-left: 120px;
    font-family: 'Barlow', sans-serif;
    font-weight: 250;
    font-size: 20px;
}

.nav2 {
    height: 100px;
}
.position{
    position: fixed;
    z-index: 2;
}

@media(max-width:990px) {
    .nav2 img {
        /* padding: 1rem !important; */
    }

}

@media(max-width:990px) {
    .nav2 .container {
        /* padding: 0 !important; */
    }

}

.nav3 {
    width: 100%;
}

.button-shop {
    background-color: #ff6348;
    color: #f6f3ea;
    font-weight: 300;
    font-size: 20px;
}

.button-shop:hover {
    background-color: #f6f3ea;
    color: #ff6348;
    border: 1px solid #ff6348;
}

.phone {
    font-size: 18px;
}

.phone::after {
    content: " Call Us: +98 54321 67890";
    font-family: 'Josefin Sans', sans-serif;
    color: #0c2461;
    font-weight: 200;
}

.envelope {
    font-size: 18px;
}

.envelope::after {
    content: " Email Us: support@example.com";
    font-family: 'Josefin Sans', sans-serif;
    color: #0c2461;
    font-weight: 200;
}

.fontawe {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .header-top {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .header-top {
        text-align: center;
        padding: 0 !important;
        font-size: 12px;
    }
}

.header-social {
    display: flex;
    /* align-items: center; */
    margin-bottom: 5px;
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .header-social {
        text-align: center !important;
        margin: 15px 65px 8px;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .header-social {
        text-align: center !important;
        margin: 15px 65px 8px;
        padding: 0 !important;
    }
}

.socials {
    font-size: 18px;
    border: 1px solid #ff6348;
    border-radius: 5px;
    padding: 8px;
    margin: 6px;
}

.socials:hover {
    background-color: #ff6348;
    color: #f6f3ea;
}

hr {
    width: 80%;
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .navbar-toggler {
        background-color: #ff5740;
        color: #fff;
    }
}


/* <== Udauk  */

.king {
    line-height: 75px;
    font-weight: 700;
    font-size: 60px;
    color: rgb(33, 33, 83);
    margin-bottom: 20px;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .king {
        font-size: 47px;
        line-height: 58px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .king {
        font-size: 50px;
        line-height: 60px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .king {
        font-size: 45px;
        line-height: 55px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .king {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }
}
@media only screen and (min-width: 360px) and (max-width: 479px)
{
    .king {
        line-height: 55px;
        text-align: center;
    }
}



.bg-color1 {
    background-color: #7dcaba;
    
}
.img-fluid {
    box-sizing: content-box;
  }

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .bg-color1 {
        text-align: center;
    }
}

.bucks {
    background-color: orangered;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 4px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.eazy {
    font-size: 1.5rem;
    color: #0c2461;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .eazy {
        font-size: 18px;
        line-height: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .eazy {
        font-size: 18px;
        line-height: 28px;
    }
}

.zone {
    font-size: 1.5rem;
    color: white;
    vertical-align: middle;
}


/* <== Eno  */

p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #3c6382;
    font-weight: 400;
}

.sec-heading {
    margin: 0 0 50px;
}

.sec-heading h4 {
    text-transform: capitalize;
    font-weight: 700;
}

.header {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #0c2461;
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .header {
        font-size: 32px;
        line-height: 42px;
    }
}



@media only screen and (min-width: 320px) and (max-width: 359px) {
    .sec-heading h6 {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .sec-heading p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px)
{
    .set {
        padding: 0 10%;
        margin: 0 0 50px;
    }
}
@media (min-width: 768px)
{
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
.sub {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 600;
    color: #0c2461;
}

i {
    font-size: 58px;
    color: #ff6348;
}

h6 {
    color: #ff6348;
    font-weight: 900;
}


/* <== Precious */


.h31 {
    color: #ff6348;
}

.h14 {
    color: #0c2461;
    font-size: 30px;
}
@media only screen and (min-width: 320px) and (max-width: 359px)
{
    .options {
        text-align: center;
        padding: 0 10%;
    }
}
@media (min-width: 768px)
{
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 359px)
{
    .me {
        margin-top: 50px;
    }
}
